*{
    background-color: rgb(255, 171, 145);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}

table{
    margin: 10%;
}

.boxOne{
    height: 100px;
    width: 100px;
    background-color: rgb(225, 0, 255);
    border-radius: 50%;
    padding-top: 35%;
    cursor: pointer;
}

.boxTwo{
    height: 100px;
    width: 100px;
    background-color: rgb(225, 0, 255);
    border-radius: 50%;
    margin-left: 150%;
    padding-top: 35%;
}

.boxTwo:hover{
    margin-left: 900%;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

h2{
    text-align: center;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}